@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello Team Kiatnakin</h1>
    <p>Let's see how  Jira Software can make your life better!!</p>
    <p>test 07</p>
</div>
