@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello P'Gaiz</h1>
    <p>development release - 2</p>
    <p>Datetime: 14:20</p>
</div>
