@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello xxxx</h1>
    <p>development release - 1</p>
    <p>Datetime: 3.48</p>
</div>
