@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello KKP</h1>
    <p>development release - 1</p>
    <p>Datetime: 2.12</p>
</div>
